.cart-table {
    &__header {
        border: 1px solid #e5e7eb;
        padding: 5px;
        background-color: #e5e7eb;
        & th:first-child {
            padding: 15px 10px;
        }
        &-action {
            width: 8%;
        }
        &-available-quantity {
            width: 8%;
        }
        &-quantity {
            width: 8%;
        }
        &-price {
            padding-left: 0.75rem;
        }
        &-total-price {
            padding-left: 0.75rem;
        }
        & > tr > th {
            text-align: start;
        }
    }
    & tbody {
        & tr:nth-child(2n+1) {
        }
        & tr:hover {
        }

        .td-details__availability {
          font-size: .7em;
        }

        .p-1_text {
          vertical-align: top;
          padding-top: 1.75rem;
          padding-left: 0.75rem;
        }

        .line-item {
          border-left: 1px solid #e5e7eb;
          border-right: 1px solid #e5e7eb;
          border-bottom: 1px solid #e5e7eb;
        }

        .input-primary {
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          /* Firefox */
          input[type=number] {
            -moz-appearance: textfield;
          }
        }
        
        .inner-table {
          tbody {
            border: 0px;
          }
          border: 0px;
          td {
            padding: 10px;
          }
          .td-line-item__details {

            .td-other-details {
              label {
                font-weight: bold;
              }
              font-size: .8em;
            }

            .td__name {

            }
            .td__sku {

            }
          }
        }
    }
}
